<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hp.deepak.excelapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WireHarness"
        android:roundIcon="@drawable/wire_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".loginActivity"
            android:label="Smart Login"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main_task"
            android:label="Database"/>

        <activity
            android:name=".tabs_list"
            android:label="List"
            android:parentActivityName=".main_task"
            android:theme="@style/AppTheme"/>

        <activity
            android:parentActivityName=".tabs_list"
            android:name=".end_item_list"
            android:theme="@style/AppTheme"/>
        <activity
            android:parentActivityName=".tabs_list"
            android:name=".MainActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".searchRes"
            android:theme="@style/AppTheme"
            android:label="Results"/>
        <activity
            android:parentActivityName=".tabs_list"
            android:name=".wireList"
            android:theme="@style/AppTheme"/>

        <activity android:name=".images"
            android:parentActivityName=".tabs_list"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>